@page "/manage"
@page "/manage/{Id}/{Name}"

@using BlazorApp.Models
@using BlazorApp.Data

@inject BlazorApp.Services.CompetitionService CompetitionService
@inject BlazorApp.Data.CategoryService CategoryService
@inject NavigationManager NavigationManager

<div class="main-header-div">
    <h1 class="main-header">Управление соревнованием @Name</h1>
</div>
<RadzenTabs>
    <Tabs>
        <RadzenTabsItem Text="Участники">
            <RadzenButton Icon="add_circle_outline" Style=@buttonStyle Text="Добавить" Click="@AddCompetitor" />
            <RadzenButton Icon="done" Style=@buttonStyle Text="Активировать" Click="@Activate" />
            <RadzenButton Icon="description" Style=@buttonStyle Text="Загрузить из CSV" Click="@LoadFromCSV" />
            <RadzenGrid @ref="competitorGrid" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Simple" AllowPaging="true" PageSize="10"
                        AllowSorting="true" Data="competitors" TItem="Competitor" AllowColumnResize="true" SelectionMode="DataGridSelectionMode.Multiple" @bind-Value=@multipleValues>
                <Columns>
                    <RadzenGridColumn TItem="Competitor" Width="40px" Sortable="false" Filterable="false">
                        <HeaderTemplate>
                            <RadzenCheckBox TriState="false" TValue="bool" Value="@(competitors.Any(i => multipleValues != null && (multipleValues as IEnumerable<Competitor>).Contains(i)))"
                                            Change="@(args => multipleValues = args ? competitors : null)" />
                        </HeaderTemplate>
                        <Template Context="data">
                            <RadzenCheckBox TriState="false" Value="@(multipleValues != null && (multipleValues as IEnumerable<Competitor>).Contains(data))" />
                        </Template>
                    </RadzenGridColumn>
                    <RadzenGridColumn TItem="Competitor" Property="Id" Title="ID" />
                    <RadzenGridColumn TItem="Competitor" Property="StartNumber" Title="Номер" />
                    <RadzenGridColumn TItem="Competitor" Property="FirstName" Title="Имя" />
                    <RadzenGridColumn TItem="Competitor" Property="LastName" Title="Фамилия" />
                    <RadzenGridColumn TItem="Competitor" Property="BirthDate" Title="Дата рождения" />
                    <RadzenGridColumn TItem="Competitor" Property="Grade" Title="Пояс" />
                    <RadzenGridColumn TItem="Competitor" Property="Country" Title="Страна" />
                    <RadzenGridColumn TItem="Competitor" Property="City" Title="Город" />
                    <RadzenGridColumn TItem="Competitor" Property="Club" Title="Клуб" />
                    <RadzenGridColumn TItem="Competitor" Property="Category" Title="Категория" />
                    <RadzenGridColumn TItem="Competitor" Property="Weight" Title="Вес" />
                    <RadzenGridColumn TItem="Competitor" Property="IsActive" Title="Активный" />
                    <RadzenGridColumn TItem="Competitor" Context="competitor" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="120px">
                        <Template Context="competitor">
                            <RadzenButton Icon="edit" Size="ButtonSize.Medium" Style=@buttonStyle>
                            </RadzenButton>
                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Medium" Click="@(args => DeleteRow(competitor))">
                            </RadzenButton>
                        </Template>
                    </RadzenGridColumn>
                </Columns>
            </RadzenGrid>

        </RadzenTabsItem>

        <RadzenTabsItem Text="Категории">
            <RadzenButton Text="Добавить" Style=@buttonStyle Click="@AddCompetitor"></RadzenButton>
            <RadzenButton Text="Разбить" Style=@buttonStyle></RadzenButton>
            <RadzenButton Text="Объеденить" Style=@buttonStyle></RadzenButton>
            <RadzenGrid @ref="categoryGrid" AllowFiltering="true" FilterMode="FilterMode.Simple" AllowPaging="true" PageSize="10"
                        AllowSorting="true" Data="Categories" TItem="Category">
                <Columns>
                    <RadzenGridColumn TItem="Category" Property="Id" Title="ID" />
                    <RadzenGridColumn TItem="Category" Property="Name" Title="Наименование" />
                    <RadzenGridColumn TItem="Category" Property="NumberOfCompetitors" Title="Количество участников" />
                </Columns>
            </RadzenGrid>
        </RadzenTabsItem>

        <RadzenTabsItem Text="Жеребьевка(пули)">
            <RadzenButton Text="Генерировать все пули" Style=@buttonStyle />
            <RadzenAccordion>
                <Items>
                    @foreach (var category in Categories)
                    {
                        <RadzenAccordionItem Text=@category.Name Icon="accessibility">
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th rowspan="2" scope="col">ID</th>
                                        <th colspan="4" scope="col" style="width:240px;">
                                            Рейтинг
                                        </th>
                                        <th rowspan="2" scope="col">Имя</th>
                                        <th rowspan="2" scope="col">Фамилия</th>
                                        <th rowspan="2" scope="col">Дата рождения</th>
                                        <th rowspan="2" scope="col">Пояс</th>
                                        <th rowspan="2" scope="col">Страна</th>
                                        <th rowspan="2" scope="col">Регион</th>
                                        <th rowspan="2" scope="col">Клуб</th>

                                    </tr>
                                    <tr>
                                        <th style="width:60px;">Нету</th>
                                        <th style="width:60px;">1</th>
                                        <th style="width:60px;">2</th>
                                        <th style="width:60px;">3</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var competitor in competitors)
                                    {
                                        <tr>
                                            <td>@competitor.Id</td>
                                            <td colspan="4">
                                                <RadzenRadioButtonList TValue="int" Style="justify-content:space-around">
                                                    <Items>
                                                        <RadzenRadioButtonListItem Value="0" Style="margin-left:-8px;margin-right:7px;"></RadzenRadioButtonListItem>

                                                        <RadzenRadioButtonListItem Value="1" Style="margin-right:7px;"></RadzenRadioButtonListItem>

                                                        <RadzenRadioButtonListItem Value="2" Style="margin-right:7px;"></RadzenRadioButtonListItem>

                                                        <RadzenRadioButtonListItem Value="3" Style="margin-right:7px;"></RadzenRadioButtonListItem>
                                                    </Items>
                                                </RadzenRadioButtonList>
                                            </td>
                                            <td>@competitor.FirstName</td>
                                            <td>@competitor.LastName</td>
                                            <td>@competitor.BirthDate.ToShortDateString()</td>
                                            <td>@competitor.Grade</td>
                                            <td>@competitor.Country</td>
                                            <td>@competitor.City</td>
                                            <td>@competitor.Club</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div style="justify-content:space-between;">
                                <RadzenCheckBox TValue="bool" Style="margin: 10px;" />
                                <RadzenLabel Text="Бой за третье место" Component="CheckBox1" Style="margin:10px;" />
                                <RadzenButton Text="Генерировать пулю" Style=@buttonStyle />
                                <RadzenButton Text="Удалить пулю" Style=@buttonStyle />
                                <RadzenButton Text="Сохранить пулю" Style=@buttonStyle />
                                <RadzenButton Text="Следующая" Style="float:right;margin:10px;background-color: #4287f5;"></RadzenButton>
                                <RadzenButton Text="Предыдущая" Style="float:right;margin:10px;background-color: #4287f5;"></RadzenButton>
                            </div>
                        </RadzenAccordionItem>
                    }
                </Items>
            </RadzenAccordion>
        </RadzenTabsItem>

        <RadzenTabsItem Text="Татами">
            <RadzenButton Text="Добавить татами" Style=@buttonStyle />
            <div class="row row-cols-3" style="justify-content:space-around">
                @foreach (var tatami in Tatamies)
                {
                    <div class="col" style="justify-content:center;margin:10px;">
                        <RadzenCard Style="width:500px;height:315px;margin:auto;">
                            <div class="card-header">
                                <h2 style="margin-bottom:0px;">Татами @tatami.Name</h2>

                            </div>
                            <div class="card-status">
                                <h6 style="margin-bottom:0px;">Количество боев @tatami.AmountOfMatches</h6>
                            </div>
                            <div class="card-content">

                            </div>
                            <div class="card-footer">
                                <RadzenButton Style=@buttonStyle class="button circle-button" Icon="build"></RadzenButton>
                                <RadzenButton Style=@buttonStyle class="button circle-button" Icon="av_timer" Click="ToScoreBoard"></RadzenButton>
                                <RadzenButton Style=@buttonStyle class="button circle-button" Icon="computer"></RadzenButton>
                                <RadzenButton Style=@buttonStyle class="button circle-button" Icon="list"></RadzenButton>
                                <RadzenButton Style=@buttonStyle class="button circle-button" Icon="align_horizontal_left"></RadzenButton>
                                <RadzenButton Style=@buttonStyle class="button circle-button" Icon="face"></RadzenButton>
                            </div>
                        </RadzenCard>
                    </div>
                }
            </div>
        </RadzenTabsItem>

        <RadzenTabsItem Text="Судьи">
            <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Simple" AllowPaging="true" PageSize="10"
                        AllowSorting="true" Data="competitors" TItem="Competitor" AllowColumnResize="true">
                <Columns>
                    <RadzenGridColumn TItem="Competitor" Property="Id" Title="Id" />
                    <RadzenGridColumn TItem="Competitor" Property="FirstName" Title="Имя" />
                    <RadzenGridColumn TItem="Competitor" Property="LastName" Title="Фамилия" />
                    <RadzenGridColumn TItem="Competitor" Property="BirthDate.ToShortDateString()" Title="Дата рождения" />
                    <RadzenGridColumn TItem="Competitor" Property="Grade" Title="Пояс" />
                    <RadzenGridColumn TItem="Competitor" Property="Country" Title="Страна" />
                    <RadzenGridColumn TItem="Competitor" Property="City" Title="Город" />
                    <RadzenGridColumn TItem="Competitor" Property="Club" Title="Клуб" />
                    <RadzenGridColumn TItem="Competitor" Property="Rating" Title="Рейтинг" />
                    <RadzenGridColumn TItem="Competitor" Property="Competition" Title="Соревнования" />
                    <RadzenGridColumn TItem="Competitor" Property="Actions" />

                </Columns>
            </RadzenGrid>
        </RadzenTabsItem>
    </Tabs>
</RadzenTabs>
@code {
    string buttonStyle = "margin:10px;background-color: #4287f5;";

    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public string Id { get; set; }
    [CascadingParameter]
    public IModalService Modal { get; set; }

    object multipleValues;
    RadzenGrid<Competitor> competitorGrid;
    RadzenGrid<Category> categoryGrid;

    List<Competitor> competitors = new List<Competitor>();
    List<Category> Categories = new List<Category>();
    List<string> Grades = new List<string>();
    List<Tatami> Tatamies = new List<Tatami>();

    private bool[] expanded = { false, false, false, false };
    private void Change(int panelNumber, bool expand)
    {
        expanded[panelNumber] = expand;
    }

    protected override void OnInitialized()
    {
        competitors = CompetitionService.GetCompetitors();
        Grades = CategoryService.GetGrades();
        Categories = CategoryService.GetCategories();
        Tatamies = CompetitionService.GetTatamis();
    }

    void DeleteRow(Competitor competitor)
    {
        competitors.Remove(competitor);
        competitorGrid.Reload();
    }

    void Activate()
    {
        var selectedIds = (multipleValues as IEnumerable<Competitor>).Select(x => x.Id).ToList();
        foreach (var id in selectedIds)
        {
            competitors.FirstOrDefault(x => x.Id == id).IsActive = true;
        }
        competitorGrid.Reload();
    }

    async void LoadFromCSV()
    {
        var form = Modal.Show<UploadCsv>("Загрузить файл");
        var result = await form.Result;
        if (result.Data != null)
        {
            competitors.AddRange((List<Competitor>)result.Data);
            await competitorGrid.Reload();
        }
    }

    async Task AddCompetitor()
    {
        var form = Modal.Show<AddCompetitorForm>("Добавление участника соревнования");
        var result = await form.Result;
        if (result.Data != null)
        {
            competitors.Add(result.Data as Competitor);
            await competitorGrid.Reload();
        }
    }

    void ToScoreBoard()
    {
        NavigationManager.NavigateTo("/scoreboard");
    }
}
