@page "/sportsmen"

@using BlazorApp.Data
@using BlazorApp.Models
@using BlazorApp.Dialogs

@inject BlazorApp.Services.SportsmenService sportsmenService
@inject BlazorApp.Data.CategoryService categoryService

<div class="main-header-div">
    <h1 class="main-header">Спортсмены</h1>
</div>
<RadzenButton Icon="add_circle_outline" class="primary-button m" Text="Добавить" Click="AddSportsman"/>
<RadzenGrid @ref="sportsmenGrid" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Simple" AllowPaging="true" PageSize="15"
            AllowSorting="true" Data="@sportsmen" TItem="Sportsman" AllowColumnResize="true" SelectionMode="DataGridSelectionMode.Multiple" @bind-Value=@multipleValues>
    <Columns>
        <RadzenGridColumn TItem="Sportsman" Width="40px" Sortable="false" Filterable="false">
            <HeaderTemplate>
                <RadzenCheckBox TriState="false" TValue="bool" Value="@(sportsmen.Any(i => multipleValues != null && (multipleValues as IEnumerable<Sportsman>).Contains(i)))"
                                Change="@(args => multipleValues = args ? sportsmen : null)" />
            </HeaderTemplate>
            <Template Context="data">
                <RadzenCheckBox TriState="false" Value="@(multipleValues != null && (multipleValues as IEnumerable<Sportsman>).Contains(data))" />
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="Sportsman" Property="Id" Title="ID"/>
        <RadzenGridColumn TItem="Sportsman" Property="IKO" Title="IKO"/>
        <RadzenGridColumn TItem="Sportsman" Property="LastName" Title="Фамилия"/>
        <RadzenGridColumn TItem="Sportsman" Property="FirstName" Title="Имя"/>
        <RadzenGridColumn TItem="Sportsman" Property="DateOfBirth" Title="Дата рождения">
            <Template Context="data">
                @data.DateOfBirth.ToShortDateString()
            </Template>
            </RadzenGridColumn>
        <RadzenGridColumn TItem="Sportsman" Property="Age" Title="Возраст"/>
        <RadzenGridColumn TItem="Sportsman" Property="Weight" Title="Вес"/>
        <RadzenGridColumn TItem="Sportsman" Property="Grade" Title="Пояс">
            <Template Context="data">
                @data.Grade.Name
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="Sportsman" Property="Sex" Title="Пол">
            <Template Context="data">
                @data.Sex.Name
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="Sportsman" Property="Trainer" Title="Тренер">
            <Template Context="data">
                @data.Trainer.FirstName @data.Trainer.LastName
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="Sportsman" Context="sportsman" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
            <Template Context="sportsman">
                <RadzenButton Icon="edit" Size="ButtonSize.Small" class="primary-button" Click="()=>EditSportsman(sportsman.Id)">
                </RadzenButton>
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="Sportsman" Context="sportsman" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
            <Template Context="sportsman">
                <RadzenButton Icon="close" class="btn-danger" Size="ButtonSize.Small" Click="@(args => DeleteRow(sportsman))">
                </RadzenButton>
            </Template>
            
        </RadzenGridColumn>

    </Columns>
</RadzenGrid>

@code {
    object multipleValues;

    RadzenGrid<Sportsman> sportsmenGrid;

    [CascadingParameter]
    public IModalService Modal { get; set; }

    List<Sportsman> sportsmen = new List<Sportsman>();
    List<Grade> grades;
    List<Sex> sexes;

    protected override void OnInitialized()
    {
        sportsmen = sportsmenService.GetSportsmen();
        grades = categoryService.GetGrades();
        sexes = categoryService.GetSexes();
    }

    void DeleteRow(Sportsman sportsman)
    {
        sportsmen.Remove(sportsman);
        sportsmenGrid.Reload();
    }

    async void AddSportsman()
    {
        var form = Modal.Show<AddSportsmanForm>("Создать учетную запись спортсмена");
        var result = await form.Result;
        if (result.Data != null)
        {

        }
    }

    async void EditSportsman(int Id)
    {
        ModalParameters parameters = new ModalParameters();
        parameters.Add(nameof(Id), Id);

        var form = Modal.Show<EditSportsmanForm>("Редактирование спортсмена",parameters);
        var result = await form.Result;
    }
}
