@page "/manage/{Id}/{Name}"

@using BlazorApp.Models
@using BlazorApp.Dialogs
@using BlazorApp.Dialogs.CategoryForms
@using BlazorApp.Dialogs.SportsmanForms
@using BlazorApp.Util
@using BlazorApp.Dialogs.CompetitionForms

@inject TooltipService tooltipService
@inject NavigationManager NavigationManager
@inject NotificationService NotificationService
@inject BlazorApp.Services.CompetitionService CompetitionService
@inject BlazorApp.Services.CategoryService CategoryService
@inject BlazorApp.Services.CompetitorService CompetitorService

<div class="main-header-div" style="display:flex;">
    <a @onclick="backUrl">
        <img src="next-button.png" class="back-button" />
    </a>
    <h1 class="main-header">Управление соревнованием @Name</h1>
</div>
<RadzenTabs>
    <Tabs>
        <RadzenTabsItem Text="Участники">
            <RadzenButton Icon="add_circle_outline" class="primary-button m" Text="Добавить" Click="@AddCompetitor" />
            <RadzenButton Icon="done" class="primary-button m" Text="Активировать" Click="@Activate" />
            <RadzenButton Icon="description" class="primary-button m" Text="Загрузить из CSV" Click="@LoadFromCSV" />
            <RadzenGrid @ref="competitorGrid" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Simple" AllowPaging="true" PageSize="10"
                        AllowSorting="true" Data="competitors" TItem="Competitor" AllowColumnResize="true" SelectionMode="DataGridSelectionMode.Multiple" @bind-Value=@multipleValues>
                <Columns>
                    <RadzenGridColumn TItem="Competitor" Width="40px" Sortable="false" Filterable="false">
                        <HeaderTemplate>
                            <RadzenCheckBox TriState="false" TValue="bool" Value="@(competitors.Any(i => multipleValues != null && (multipleValues as IEnumerable<Competitor>).Contains(i)))"
                                            Change="@(args => multipleValues = args ? competitors : null)" />
                        </HeaderTemplate>
                        <Template Context="data">
                            <RadzenCheckBox TriState="false" Value="@(multipleValues != null && (multipleValues as IEnumerable<Competitor>).Contains(data))" />
                        </Template>
                    </RadzenGridColumn>
                    <RadzenGridColumn TItem="Competitor" Property="Id" Title="ID" Width="120px"/>
                    <RadzenGridColumn TItem="Competitor" Property="IKO" Title="Номер" Width="120px"/>
                    <RadzenGridColumn TItem="Competitor" Property="FirstName" Title="Имя" />
                    <RadzenGridColumn TItem="Competitor" Property="LastName" Title="Фамилия" />
                    <RadzenGridColumn TItem="Competitor" Property="BirthDate" Title="Дата рождения">
                        <Template Context="data">
                            @data.DateOfBirth.ToShortDateString()
                        </Template>
                    </RadzenGridColumn>
                    <RadzenGridColumn TItem="Competitor" Property="Grade" Title="Пояс" Width="100px">
                        <Template Context="data">
                            @data.Grade.Name
                        </Template>
                    </RadzenGridColumn>
                    <RadzenGridColumn TItem="Competitor" Property="Country" Title="Страна" />
                    <RadzenGridColumn TItem="Competitor" Property="Region" Title="Регион" />
                    <RadzenGridColumn TItem="Competitor" Property="ClubName" Title="Клуб" />
                    <RadzenGridColumn TItem="Competitor" Property="Category" Title="Категория">
                        <Template Context="data">
                            @data.CompetitionCategory.Name
                        </Template>
                    </RadzenGridColumn>
                    <RadzenGridColumn TItem="Competitor" Property="Weight" Title="Вес" Width="100px"/>
                    <RadzenGridColumn TItem="Competitor" Property="IsActive" Title="Активный">
                        <Template Context="data">
                            <RadzenCheckBox @bind-Value="data.IsRegistred" />
                        </Template>
                    </RadzenGridColumn>
                    <RadzenGridColumn TItem="Competitor" Context="competitor" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="120px">
                        <Template Context="competitor">
                            <RadzenButton Icon="edit" Size="ButtonSize.Medium" class="primary-button">
                            </RadzenButton>
                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Medium" Click="()=>DeleteCompetitor(competitor.Id)">
                            </RadzenButton>
                        </Template>
                    </RadzenGridColumn>
                </Columns>
            </RadzenGrid>

        </RadzenTabsItem>

        <RadzenTabsItem Text="Категории">
            <RadzenButton Text="Добавить" class="primary-button m" Click=@AddCompetitionCategory />
            <RadzenButton Text="Разбить" class="primary-button m" Click=@DivideCategory />
            <RadzenButton Text="Объеденить" class="primary-button m" Click=@MergeCategory />
            <RadzenGrid @ref="categoryGrid" AllowFiltering="true" FilterMode="FilterMode.Simple" AllowPaging="true" PageSize="10"
                        AllowSorting="true" Data="Categories" TItem="CompetitionCategory" SelectionMode="DataGridSelectionMode.Multiple" @bind-Value=@multipleValuesCategory>
                <Columns>
                    <RadzenGridColumn TItem="CompetitionCategory" Width="40px" Sortable="false" Filterable="false">
                        <HeaderTemplate>
                            <RadzenCheckBox TriState="false" TValue="bool" Value="@(Categories.Any(i => multipleValuesCategory != null && (multipleValuesCategory as IEnumerable<CompetitionCategory>).Contains(i)))"
                                            Change="@(args => multipleValuesCategory = args ? Categories : null)" />
                        </HeaderTemplate>
                        <Template Context="data">
                            <RadzenCheckBox TriState="false" Value="@(multipleValuesCategory != null && (multipleValuesCategory as IEnumerable<CompetitionCategory>).Contains(data))" />
                        </Template>
                    </RadzenGridColumn>
                    <RadzenGridColumn TItem="CompetitionCategory" Property="Id" Title="ID" />
                    <RadzenGridColumn TItem="CompetitionCategory" Property="Name" Title="Наименование" />
                    <RadzenGridColumn TItem="CompetitionCategory" Title="Количество участников">
                        <Template Context="data">
                            @GetAmountOfCompetitors(data.Id)
                        </Template>
                    </RadzenGridColumn>
                </Columns>
            </RadzenGrid>
        </RadzenTabsItem>

        <RadzenTabsItem Text="Жеребьевка(пули)">
            <RadzenButton Text="Генерировать все пули" class="primary-button m" />

            @foreach (var category in Categories)
            {
                SetCompetitors(category);
                if (competitorsInCategory.Count == 0) continue;

                <button class="button button1" style="width:100%">@category.Name </button>
                <div id="@category.Name" >
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th rowspan="2" scope="col">ID</th>
                                <th colspan="4" scope="col" style="width:240px;">
                                    Рейтинг
                                </th>
                                <th rowspan="2" scope="col">Имя</th>
                                <th rowspan="2" scope="col">Фамилия</th>
                                <th rowspan="2" scope="col">Дата рождения</th>
                                <th rowspan="2" scope="col">Пояс</th>
                                <th rowspan="2" scope="col">Страна</th>
                                <th rowspan="2" scope="col">Регион</th>
                                <th rowspan="2" scope="col">Клуб</th>

                            </tr>
                            <tr>
                                <th style="width:60px;">Нету</th>
                                <th style="width:60px;">1</th>
                                <th style="width:60px;">2</th>
                                <th style="width:60px;">3</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var competitor in competitorsInCategory)
                            {
                                <tr>
                                    <td>@competitor.Id</td>
                                    <td colspan="4">
                                        <RadzenRadioButtonList TValue="int" Style="justify-content:space-around">
                                            <Items>
                                                <RadzenRadioButtonListItem Value="0" Style="margin-left:-8px;margin-right:7px;"></RadzenRadioButtonListItem>

                                                <RadzenRadioButtonListItem Value="1" Style="margin-right:7px;"></RadzenRadioButtonListItem>

                                                <RadzenRadioButtonListItem Value="2" Style="margin-right:7px;"></RadzenRadioButtonListItem>

                                                <RadzenRadioButtonListItem Value="3" Style="margin-right:7px;"></RadzenRadioButtonListItem>
                                            </Items>
                                        </RadzenRadioButtonList>
                                    </td>
                                    <td>@competitor.FirstName</td>
                                    <td>@competitor.LastName</td>
                                    <td>@competitor.DateOfBirth.ToShortDateString()</td>
                                    <td>@competitor.Grade</td>
                                    <td>@competitor.Country</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div>

                        <RadzenCheckBox TValue="bool" Style="margin: 10px;" />
                        <RadzenLabel Text="Бой за третье место" Component="CheckBox1" Style="margin:10px;" />
                        <RadzenButton Text="Генерировать пулю" class="primary-button m" />
                        <RadzenButton Text="Удалить пулю" class="primary-button m" />
                        <RadzenButton Text="Сохранить пулю" class="primary-button m" />
                        <RadzenButton Text="Следующая" class="primary-button m f-r" />
                        <RadzenButton Text="Предыдущая" class="primary-button m f-r" />
                    </div>
                </div>
            }

        </RadzenTabsItem>

        <RadzenTabsItem Text="Татами">
            <RadzenButton Text="Добавить татами" class="primary-button m" Click="AddTatami"/>
            <div class="row row-cols-3" style="justify-content:space-around">
                @foreach (var tatami in Tatamies)
                {
                    <div class="col" style="justify-content:center;margin:10px;">
                        <RadzenCard Style="width:500px;height:315px;margin:auto;">
                            <div class="card-header">
                                <h2 style="margin-bottom:0px;">Татами @tatami.Name</h2>

                            </div>
                            <div class="card-status">
                                <h6 style="margin-bottom:0px;">Количество боев *</h6>
                            </div>
                            <div class="card-content">
                                <table class="category-divide">
                                    <tbody>
                                        @foreach (var c in Categories.Where(x=>x.TatamiId==tatami.Id))
                                        {
                                            <tr>
                                                <td style="border-bottom:1px solid gray;width:448px;">
                                                    @c.Name
                                                </td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                <RadzenButton class="button circle-button primary-button m" Icon="build" MouseEnter="@(args => ShowTooltip(args,"Настройки") )" Click="()=>ToTatamiSettings(tatami.Id)" />
                                <RadzenButton class="button circle-button primary-button m" Icon="av_timer" MouseEnter="@(args => ShowTooltip(args,"Таймер") )" Click="()=>ToTatamiTimer(tatami.Id)" />
                                <RadzenButton class="button circle-button primary-button m" Icon="computer" MouseEnter="@(args => ShowTooltip(args,"Компьютер") )" Click="()=>ToScoreBoard(tatami.Id)" />
                                <RadzenButton class="button circle-button primary-button m" Icon="list" MouseEnter="@(args => ShowTooltip(args,"Список") )" />
                                <RadzenButton class="button circle-button primary-button m" Icon="align_horizontal_left" MouseEnter="@(args => ShowTooltip(args,"Пули") )" />
                                <RadzenButton class="button circle-button primary-button m" Icon="face" MouseEnter="@(args => ShowTooltip(args,"Подготовка участников") )" />
                            </div>
                        </RadzenCard>
                    </div>
                }
            </div>
        </RadzenTabsItem>

        <RadzenTabsItem Text="Судьи">
            <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Simple" AllowPaging="true" PageSize="10"
                        AllowSorting="true" Data="Referees" TItem="Referee" AllowColumnResize="true">
                <Columns>
                    <RadzenGridColumn TItem="Referee" Property="Id" Title="Id" />
                    <RadzenGridColumn TItem="Referee" Property="FirstName" Title="Имя" />
                    <RadzenGridColumn TItem="Referee" Property="LastName" Title="Фамилия" />
                    <RadzenGridColumn TItem="Referee" Property="BirthDate" Title="Дата рождения">
                        <Template Context="data">
                            @data.DateOfBirth.ToShortDateString()
                        </Template>
                    </RadzenGridColumn>
                    <RadzenGridColumn TItem="Referee" Title="Рейтинг" />
                    <RadzenGridColumn TItem="Referee" Title="Соревнования" >
                        <Template Context="data">
                            @GetRefereeCompetitions(data.Id)
                        </Template>
                        </RadzenGridColumn>
                    <RadzenGridColumn TItem="Referee" />

                </Columns>
            </RadzenGrid>
        </RadzenTabsItem>
    </Tabs>
</RadzenTabs>


@code {

    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public string Id { get; set; }
    [CascadingParameter]
    public IModalService Modal { get; set; }

    object multipleValues;
    object multipleValuesCategory;
    RadzenGrid<Competitor> competitorGrid;
    RadzenGrid<CompetitionCategory> categoryGrid;

    List<Referee> Referees = new List<Referee>();
    List<Competitor> competitors = new List<Competitor>();
    List<CompetitionCategory> Categories = new List<CompetitionCategory>();
    List<Grade> Grades = new List<Grade>();
    List<Tatami> Tatamies = new List<Tatami>();

    List<Competitor> competitorsInCategory = new List<Competitor>();

    string GetRefereeCompetitions(int RefereeId)
    {
        return CompetitionService.GetRefereeCompetitions(RefereeId);
    }

    void SetCompetitors(CompetitionCategory category)
    {
        competitorsInCategory = CompetitorService.GetCompetitorsInCategory(category);
    }

    int GetAmountOfCompetitors(int Id)
    {
        return CompetitorService.GetAmountOfCompetitors(Id);
    }

    protected override void OnInitialized()
    {
        competitors = CompetitorService.GetCompetitors(int.Parse(Id));
        Grades = CategoryService.GetGrades();
        Categories = CompetitionService.GetCompetitionCategories(int.Parse(Id));
        Tatamies = CompetitionService.GetTatamis(int.Parse(Id));
        Referees = CompetitionService.GetReferees();
    }

    void DeleteCompetitor(int Id)
    {
        CompetitorService.DeleteCompetitor(Id);
    }

    void Activate()
    {
        if (multipleValues != null)
        {
            var selectedIds = (multipleValues as IEnumerable<Competitor>).Select(x => x.Id).ToList();
            foreach (var id in selectedIds)
            {
                competitors.FirstOrDefault(x => x.Id == id).IsRegistred = true;
            }
            competitorGrid.Reload();
        }
    }

    async void LoadFromCSV()
    {
        var form = Modal.Show<UploadCsv>("Загрузить файл");
        var result = await form.Result;
        if (result.Data != null)
        {
            CompetitorService.AddRangeCompetitors(result.Data as List<Competitor>,int.Parse(Id));
        }
    }

    async Task AddCompetitor()
    {
        var form = Modal.Show<AddCompetitorForm>("Добавление участника соревнования");
        var result = await form.Result;
        if (result.Data != null)
        {
            ResponseObject response = CompetitorService.CreateCompetitor(result.Data as Competitor,int.Parse(Id));
            if (response.IsSuccess == false)
            {
                ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Ошибка!", Detail = "Не удалось добавить участника соревнования!", Duration = 4000 });
            }
            else
            {
                ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Успешно!", Detail = "Участник соревнования успешно добавлен!", Duration = 4000 });
            }
        }
    }

    async Task AddCompetitionCategory()
    {
        var form = Modal.Show<AddCompetitionCategoryForm>("Добавить соревновательную категорию");
        var result = await form.Result;
        if (result.Data != null)
        {
            Categories.Add(result.Data as CompetitionCategory);
            await categoryGrid.Reload();
        }
    }

    async void AddTatami()
    {
        var form = Modal.Show<AddTatami>("Создание татами");
        var result = await form.Result;
        if (result.Data != null)
        {
            CompetitionService.CreateTatami(result.Data as Tatami,int.Parse(Id));
        }
    }

    void ShowTooltip(ElementReference elementReference, string message, TooltipOptions options = null) => tooltipService.Open(elementReference, message, options);

    async Task DivideCategory()
    {
        if (multipleValuesCategory == null) return;
        if ((multipleValuesCategory as IEnumerable<SportCategory>).ToList().Count == 1)
        {
            ModalParameters parameters = new ModalParameters();
            parameters.Add(nameof(CompetitionCategory), (multipleValuesCategory as IEnumerable<SportCategory>).ToList()[0]);

            var form = Modal.Show<DivideCompetitionCategory>("Разбиение соревновательной категории", parameters);
            var result = await form.Result;
            if (result.Data != null)
            {
                Categories.AddRange((List<CompetitionCategory>)result.Data);
                await categoryGrid.Reload();
            }
        }
    }

    void MergeCategory()
    {
        if ((multipleValuesCategory as IEnumerable<SportCategory>).ToList().Count > 1)
        {
            var s = (multipleValuesCategory as IEnumerable<SportCategory>).ToList();

            categoryGrid.Reload();
        }
    }

    void ToTatamiSettings(int Id)
    {
        NavigationManager.NavigateTo("/manage/" + this.Id + "/" + this.Name + "/settings/" + Id);
    }

    void ToTatamiTimer(int Id)
    {
        NavigationManager.NavigateTo("/manage/" + this.Id + "/" + this.Name + "/timer/" + Id);
    }

    void ToScoreBoard(int Id)
    {
        NavigationManager.NavigateTo("/manage/" + this.Id + "/" + this.Name + "/scoreboard/" + Id);
    }

    void backUrl()
    {
        NavigationManager.NavigateTo("/competitions");
    }

    void ShowNotification(NotificationMessage message)
    {
        NotificationService.Notify(message);
    }
}
