@using FileHelpers
@using BlazorInputFile
@using Models
@using System.IO
@using System.Drawing

@inject BlazorApp.Data.CategoryService CategoryService
@inject BlazorApp.Services.SportsmenService SportsmenService
<RadzenTemplateForm TItem="Competitor" Data="Competitor" Submit="SubmitForm" InvalidSubmit="InvalidSubmit">
    <div class="container" style="justify-content:space-around;">
        <div class="row">
            <!--Image-->
            <div class="col" style="justify-content:center;">
                <RadzenLabel Text="Фото спортсмена" class="add-competitor-form"></RadzenLabel>
                <img src="data:image/bmp;base64, @(Convert.ToBase64String(ms.ToArray()))" />
                
                <InputFile OnChange="HandleSelection" />
            </div>
            <!--List of sportsmen-->
            <div class="col">
                <RadzenLabel Text="Спортсмены" class="add-competitor-form"></RadzenLabel>
                <RadzenListBox Data="@Sportsmen" TValue="Sportsman" Change=@(args => OnChange(args)) Style="width:100%" >
                    <Template Context="sportsman">
                        @sportsman.FirstName @sportsman.LastName @sportsman.BirthDate.ToShortDateString()
                    </Template>
                </RadzenListBox>
            </div>
            <!--Fields-->
            <div class="col" style="justify-content:center">
                <div class="row">
                    <RadzenLabel Text="Личные данные" class="add-competitor-form"></RadzenLabel>
                    <RadzenTextBox Placeholder="Имя" class="add-competitor-form" @bind-Value="Competitor.FirstName"></RadzenTextBox>
                </div>
                <div class="row">
                    <RadzenTextBox Placeholder="Фамилия" @bind-Value="Competitor.LastName" class="add-competitor-form"></RadzenTextBox>
                </div>
                <div class="row" style="display:flex;vertical-align:central;justify-content:center;">
                    <h4 style="margin-top:10px">М</h4>
                    <RadzenSwitch @bind-Value="switcher" Style="margin:7px;" />
                    <h4 style="margin-top:10px">Ж</h4>
                </div>
                
                <div class="row">
                    <RadzenNumeric TValue="int?" class="add-competitor-form" Placeholder="Стартовый номер"></RadzenNumeric>
                </div>
                <div class="row">
                    <RadzenDatePicker class="add-competitor-form" Placeholder="Дата рождения" @bind-Value="Competitor.BirthDate"></RadzenDatePicker>
                </div>
                <div class="row">
                    <RadzenDropDown Data=@Grades class="add-competitor-form" Placeholder="Пояс" @bind-Value="Competitor.Grade"></RadzenDropDown>
                </div>
                <div class="row">
                    <RadzenTextBox class="add-competitor-form" Placeholder="Страна" @bind-Value="Competitor.Country"></RadzenTextBox>
                </div>
                <div class="row">
                    <RadzenTextBox class="add-competitor-form" Placeholder="Город" @bind-Value="Competitor.City"></RadzenTextBox>
                </div>
                <div class="row">
                    <RadzenTextBox class="add-competitor-form" Placeholder="Клуб" @bind-Value="Competitor.Club"></RadzenTextBox>
                </div>
                
                <div class="row">
                    <RadzenNumeric TValue="int?" class="add-competitor-form" Placeholder="Вес" ></RadzenNumeric>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" style="display:flex;justify-content:space-between;padding:15px;"></div>
            <div class="col" style="display:flex;justify-content:space-between;padding:15px;"></div>
            <div class="col" style="display:flex;justify-content:space-between;padding:15px;">
                <button type="submit" class="btn btn-primary primary">Сохранить</button>
                <button @onclick="Cancel" class="btn btn-secondary">Отмена</button>
            </div>
        </div>
    </div>
</RadzenTemplateForm>
@code {
    MemoryStream ms = new MemoryStream();
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    bool switcher;

    List<string> Grades = new List<string>();
    List<Sportsman> Sportsmen = new List<Sportsman>();
    Competitor Competitor = new Competitor();

    protected override void OnInitialized()
    {
        Grades = CategoryService.GetGrades();
        Sportsmen = SportsmenService.GetSportsmen();
    }

    void OnChange(Object value)
    {
        Sportsman s = value as Sportsman;
        Competitor.FirstName = s.FirstName;
        Competitor.LastName = s.LastName;
        Competitor.Grade = s.Grade;
        Competitor.IKO = s.IKO;
        Competitor.Sex = s.Sex;
        Competitor.Trainer = s.Trainer;
        Competitor.Weight = s.Weight;
        Competitor.Age = s.Age;
        Competitor.BirthDate = s.BirthDate;
    }

    async Task HandleSelection(IFileListEntry[] files)
    {
        var file = files.FirstOrDefault();
        if (file != null)
        {
            var imageFile = await file.ToImageFileAsync("image/jpeg", 400, 300);

            ms = await imageFile.ReadAllAsync();
            
        }
    }

    void InvalidSubmit()
    {

    }
    async Task SubmitForm() => await BlazoredModal.CloseAsync(ModalResult.Ok(Competitor));
    async Task Cancel() => await BlazoredModal.CancelAsync();
}
