@using BlazorApp.Data
<RadzenTemplateForm TItem="WeightGroup" Data="WeightGroup" Submit="SaveChanges">
    <div class="container" style="justify-content:space-around;">
        <div class="row">
            <div class="col">
                <RadzenRadioButtonList @bind-Value="value" TValue="int" Name="List" Change="@((args)=>OnChange(args))" Style="padding:0px 150px 0px 150px;">
                    <Items>
                        <RadzenRadioButtonListItem Text="МУЖ" Value="1" />

                        <RadzenRadioButtonListItem Text="ЖЕН" Value="2" />

                    </Items>
                </RadzenRadioButtonList>
                <RadzenRequiredValidator Component="List" Text="Обязательное поле!"></RadzenRequiredValidator>
            </div>
        </div>
        <div class="row">
            <div class="col" style="display:flex;justify-content:space-between;padding:15px;">
                <RadzenLabel Text="Открытая граница"></RadzenLabel>
                <RadzenSwitch @bind-Value="@LeftBorderOpenAge"></RadzenSwitch>
            </div>
            <div class="col" style="display:flex;justify-content:space-between;padding:15px;">
                <RadzenLabel Text="Открытая граница"></RadzenLabel>
                <RadzenSwitch @bind-Value="@RightBorderOpenAge"></RadzenSwitch>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <RadzenNumeric @bind-Value="@WeightGroup.WeightFrom" TValue="int" Disabled="@LeftBorderOpenAge" Style="width:100%;" Placeholder="Возраст ОТ"></RadzenNumeric>
            </div>
            <div class="col">
                <RadzenNumeric @bind-Value="@WeightGroup.WeightTo" TValue="int" Disabled="@RightBorderOpenAge" Style="width:100%;" Placeholder="Возраст ДО"></RadzenNumeric>
            </div>
        </div>
        <div class="row">
            <div class="col" style="display:flex;justify-content:space-between;padding:15px;"></div>
            <div class="col" style="display:flex;justify-content:space-around;padding:15px;">
                <button type="submit" @onclick="SubmitForm" class="btn btn-primary primary">Сохранить</button>
                <button @onclick="Cancel" class="btn btn-secondary">Отмена</button>
            </div>
        </div>
    </div>
</RadzenTemplateForm>
@code {
    int value = 1;

    [Parameter]
    public WeightGroup WeightGroup { get; set; }

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    bool LeftBorderOpenAge, RightBorderOpenAge;


    void SaveChanges()
    {

    }

    void OnChange(object value)
    {
        this.value = (int)value;
        WeightGroup.Sex = this.value == 1 ? "МУЖ" : "ЖЕН";
    }

    async Task SubmitForm() => await BlazoredModal.CloseAsync(ModalResult.Ok(WeightGroup));
    async Task Cancel() => await BlazoredModal.CancelAsync();
}
